# Parameters of Plot

When we create a plot using Matplotlib, we can customize many things.
These customizations are called plot parameters.

The most commonly used parameters are:

### 1. Title

Adds a title to the plot.

plt.title("Sales Trend")

### 2. Labels (X-label & Y-label)

Describe what each axis represents.

plt.xlabel("Months")
plt.ylabel("Revenue")

### 3. Color

Used to set line, bar, scatter color.

plt.plot(x, y, color='red')

### 4. Line Style

Changes the style of the line.

Style	Code
Solid	'-'
Dotted	':'
Dashed	'--'
Dash-dot	'-.'
plt.plot(x, y, linestyle='--')

### 5. Line Width

Thickness of the line.

plt.plot(x, y, linewidth=3)

### 6. Marker

Adds markers at each data point.

Marker	Code
Circle	'o'
Square	's'
Triangle	'^'
Star	'*'
plt.plot(x, y, marker='o')

### 7. Marker Size & Color

Control marker appearance.

plt.plot(x, y, marker='o', markersize=8, markerfacecolor='yellow')

### 8. Grid

Add reference lines.

plt.grid(True)

### 9. Legend

Shows labels for multiple lines.

plt.legend(["Sales", "Profit"])

### 10. Figure Size

Sets the width and height of the plot.

plt.figure(figsize=(8, 5))

### 11. Axis Limits

Control the visible range on axes.

plt.xlim(0, 100)
plt.ylim(0, 500)

### Summary
Parameter	        - Purpose
1. title	        - Add title
2. xlabel, ylabel	- Label axes
3. color	        - Line/bar color
4. linestyle	    - Style of line
5. linewidth	    - Thickness of line
6. marker	        - Mark data points
7. markersize	    - Size of marker
8. grid	            - Background grid
9. legend	        - Label series
10. figsize	        - Change plot size
11. xlim, ylim	    - Axis range

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv(r"C:\Users\Prafull Wahatule\Desktop\Python_DA\Data\sales_data_50rows.csv")

In [4]:
df

          Date    Product  Quantity  Price  Total Region
0   2025-12-09     Grapes        14    394   5516   West
1   2025-12-08      Mango         9    376   3384  South
2   2025-12-07     Orange        26     58   1508   East
3   2025-12-06      Mango         2    393    786  North
4   2025-12-05      Mango        20    178   3560  North
5   2025-12-04     Banana        28    185   5180  South
6   2025-12-03     Orange        47    112   5264  North
7   2025-12-02     Orange         7    188   1316   East
8   2025-12-01     Orange        44    130   5720  South
9   2025-11-30      Mango         8    441   3528   East
10  2025-11-29     Grapes        47    212   9964  South
11  2025-11-28     Orange        35    468  16380  South
12  2025-11-27  Pineapple        14    338   4732   West
13  2025-11-26      Mango        17    428   7276   East
14  2025-11-25     Banana        36    310  11160  North
15  2025-11-24     Grapes        40    280  11200  North
16  2025-11-23  Pineapple         4     90    360   East
17  2025-11-22  Pineapple         2     77    154  North
18  2025-11-21     Banana         6    184   1104  North
19  2025-11-20     Grapes        42    250  10500   East
20  2025-11-19      Mango         4    377   1508  South
21  2025-11-18      Apple        29    317   9193   East
22  2025-11-17     Grapes        18    467   8406  South
23  2025-11-16     Banana        26     82   2132  North
24  2025-11-15  Pineapple        44     97   4268  North
25  2025-11-14      Mango        34    456  15504  North
26  2025-11-13     Grapes        10    111   1110   West
27  2025-11-12      Apple        36    265   9540  South
28  2025-11-11      Apple        14    342   4788   West
29  2025-11-10     Orange        31    148   4588   West
30  2025-11-09     Orange        48    221  10608   East
31  2025-11-08     Banana        15    409   6135   West
32  2025-11-07     Grapes         8    263   2104   East
33  2025-11-06     Grapes        14     84   1176   East
34  2025-11-05  Pineapple        23    498  11454   West
35  2025-11-04  Pineapple        40    276  11040  South
36  2025-11-03  Pineapple        21    150   3150  South
37  2025-11-02     Orange        16    480   7680  South
38  2025-11-01     Grapes        45    180   8100  South
39  2025-10-31     Grapes        18    306   5508  South
40  2025-10-30      Apple        47     54   2538   West
41  2025-10-29     Orange        24    267   6408   West
42  2025-10-28      Mango        26    304   7904  North
43  2025-10-27     Orange        25    447  11175  South
44  2025-10-26      Mango        45    408  18360   West
45  2025-10-25      Apple        41    332  13612  North
46  2025-10-24     Banana        29    442  12818  South
47  2025-10-23     Grapes        15    256   3840   East
48  2025-10-22      Apple        45     64   2880  North
49  2025-10-21     Grapes         1    395    395   West