# Apply Method

In [4]:
import numpy as np
import pandas as pd

In [7]:
temp = np.arange(90,150)
temp

array([ 90,  91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102,
       103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115,
       116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128,
       129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141,
       142, 143, 144, 145, 146, 147, 148, 149])

In [10]:
df = pd.DataFrame(temp, columns=['Fahrenheit'])
df

    Fahrenheit
0           90
1           91
2           92
3           93
4           94
5           95
6           96
7           97
8           98
9           99
10         100
11         101
12         102
13         103
14         104
15         105
16         106
17         107
18         108
19         109
20         110
21         111
22         112
23         113
24         114
25         115
26         116
27         117
28         118
29         119
30         120
31         121
32         122
33         123
34         124
35         125
36         126
37         127
38         128
39         129
40         130
41         131
42         132
43         133
44         134
45         135
46         136
47         137
48         138
49         139
50         140
51         141
52         142
53         143
54         144
55         145
56         146
57         147
58         148
59         149

In [12]:
def convertToCelsius(ftemp):
    return (ftemp - 32) * 5/9

In [13]:
df['Celsius'] = df['Fahrenheit'].apply(convertToCelsius)
df

    Fahrenheit    Celsius
0           90  32.222222
1           91  32.777778
2           92  33.333333
3           93  33.888889
4           94  34.444444
5           95  35.000000
6           96  35.555556
7           97  36.111111
8           98  36.666667
9           99  37.222222
10         100  37.777778
11         101  38.333333
12         102  38.888889
13         103  39.444444
14         104  40.000000
15         105  40.555556
16         106  41.111111
17         107  41.666667
18         108  42.222222
19         109  42.777778
20         110  43.333333
21         111  43.888889
22         112  44.444444
23         113  45.000000
24         114  45.555556
25         115  46.111111
26         116  46.666667
27         117  47.222222
28         118  47.777778
29         119  48.333333
30         120  48.888889
31         121  49.444444
32         122  50.000000
33         123  50.555556
34         124  51.111111
35         125  51.666667
36         126  52.222222
37         127  52.777778
38         128  53.333333
39         129  53.888889
40         130  54.444444
41         131  55.000000
42         132  55.555556
43         133  56.111111
44         134  56.666667
45         135  57.222222
46         136  57.777778
47         137  58.333333
48         138  58.888889
49         139  59.444444
50         140  60.000000
51         141  60.555556
52         142  61.111111
53         143  61.666667
54         144  62.222222
55         145  62.777778
56         146  63.333333
57         147  63.888889
58         148  64.444444
59         149  65.000000