# What is pandas

### Create DataFrams using JSON Data

In [2]:
import pandas as pd

In [5]:
fruitsb = {
    "Fruits": ["Apple", "Orange", "Grapes", "Banana"],
    "Price": [100, 240, 150, 130]
}

In [11]:
dfjson = pd.DataFrame(fruitsb)

In [13]:
print(dfjson)
type(dfjson)

   Fruits  Price
0   Apple    100
1  Orange    240
2  Grapes    150
3  Banana    130

pandas.core.frame.DataFrame

### Create DataFrames using List

In [15]:
fruitlist = ["Apple", "Orange", "Grapes", "Banana"]  # List
dflist = pd.DataFrame(fruitlist) # Convert list into DataFrame
print(dflist) # Printing DataFram
type(dflist) # Check Type for Satisfaction

        0
0   Apple
1  Orange
2  Grapes
3  Banana

pandas.core.frame.DataFrame

### Creating Multiple column DataFrames

In [19]:
## If you want to add one another coloumn using list you need to create one more list
fruitlist1 = ["Apple", "Orange", "Grapes", "Banana"]  # List1
price1 = [100, 240, 150, 130]  # list2

dflist1 = pd.DataFrame(list(zip(fruitlist1,price1))) # Convert list into DataFram with two Column
print(dflist1) # print DataFrame

        0    1
0   Apple  100
1  Orange  240
2  Grapes  150
3  Banana  130

In [20]:
## If you want to add one another coloumn using list you need to create one more list
## With custom column name
fruitlist1 = ["Apple", "Orange", "Grapes", "Banana"]  # List1
price1 = [100, 240, 150, 130]  # list2

dflist1 = pd.DataFrame(list(zip(fruitlist1,price1)), columns = ['Fruits','Price']) # Convert list into DataFram with two Column
print(dflist1) # print DataFrame

   Fruits  Price
0   Apple    100
1  Orange    240
2  Grapes    150
3  Banana    130

### CreatingDataFrame From list of JSON Data

In [23]:
## In this we create DataFrame using josn 
listjson = [{'Fruits':'Apple','Price':100},{'Fruits':'Mango','Price':150},{'Fruits':'Banana','Price':200}]  # Creaating Josn Fromat
dfjson = pd.DataFrame(listjson) # Convert Json Into DataFram
print(dfjson) # Print DataFrame
type(dfjson) # Check Type

   Fruits  Price
0   Apple    100
1   Mango    150
2  Banana    200

pandas.core.frame.DataFrame

### Creating DataFrame From CSV

In [30]:
dfexcel = pd.read_excel(r"C:\Users\Prafull Wahatule\Desktop\Python_DA\Data\FruitsB.xlsx")

In [32]:
print(dfcsv)
type(dfcsv)

   Fruits  Price
0   Apple    100
1  Orange    200
2  Grapes    300

pandas.core.frame.DataFrame

In [39]:
pdcsv = pd.read_csv(r"C:\Users\Prafull Wahatule\Desktop\Python_DA\Data\FruitsB.csv")
print(pdcsv)
type(pdcsv)

  Fruits,Price
0    Apple,110
1   Orange,150
2   Grapes,500

pandas.core.frame.DataFrame