# DataFreame Basics

### Check Shapes of DataFrame

In [7]:
import pandas as pd

In [53]:
wine = pd.read_csv(r"C:\Users\Prafull Wahatule\Desktop\Python_DA\Data\wine.csv")

In [14]:
print(wine)

    Wine  Alcohol  Malic.acid   Ash   Acl   Mg  Phenols  Flavanoids  \
0      1    14.82        4.80  1.58  25.6  130     2.68        1.62
1      1    14.82        4.15  1.87  12.0   85     2.71        2.21
2      3    14.82        3.48  1.64  21.5  111     2.40        1.01
3      1    14.82        3.20  2.94  26.6  129     2.46        4.74
4      1    14.82        1.96  2.40  17.7  111     3.65        1.82
..   ...      ...         ...   ...   ...  ...      ...         ...
95     1    14.82        4.93  2.96  27.3  154     2.33        3.61
96     3    14.82        1.13  2.53  15.4  147     1.54        1.64
97     3    14.82        0.95  2.15  21.2  127     3.72        4.74
98     2    14.82        4.24  1.73  29.4  152     3.75        4.55
99     2    14.82        0.75  2.24  15.2  139     1.02        3.18

    Nonflavanoid.phenols  Proanth
0                   0.13     3.04
1                   0.82     0.64
2                   0.38     0.87
3                   0.90     3.89
4                   0.20     2.79
..                   ...      ...
95                  0.15     1.80
96                  0.85     3.48
97                  0.54     3.17
98                  0.57     1.36
99                  0.69     0.85

[100 rows x 10 columns]

In [18]:
wine.shape # This shape method tell you how many rows and coloumn are availbale in your data set

(100, 10)

### Get Top 'n' Rows

In [19]:
wine.head(5) # this give you top 5 rows you can take it based on conditions like top 10, top 100  like this

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth
0,1,14.82,4.80,1.58,25.6,130,2.68,1.62,0.13,3.04
1,1,14.82,4.15,1.87,12.0,85,2.71,2.21,0.82,0.64
2,3,14.82,3.48,1.64,21.5,111,2.40,1.01,0.38,0.87
3,1,14.82,3.20,2.94,26.6,129,2.46,4.74,0.90,3.89
4,1,14.82,1.96,2.40,17.7,111,3.65,1.82,0.20,2.79

### Get Last 'n' Rows

In [25]:
wine.tail(10) # this give you last records

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth
90,2,14.82,3.99,1.97,29.2,86,2.71,1.69,0.12,3.29
91,1,14.82,3.84,3.48,18.6,85,3.35,4.38,0.39,0.94
92,3,14.82,2.19,2.45,29.3,74,2.33,2.85,0.46,0.63
93,1,14.82,4.08,2.66,19.0,146,3.21,2.24,0.54,1.60
94,1,14.82,4.73,1.72,11.2,94,1.88,2.45,0.20,0.66
95,1,14.82,4.93,2.96,27.3,154,2.33,3.61,0.15,1.80
96,3,14.82,1.13,2.53,15.4,147,1.54,1.64,0.85,3.48
97,3,14.82,0.95,2.15,21.2,127,3.72,4.74,0.54,3.17
98,2,14.82,4.24,1.73,29.4,152,3.75,4.55,0.57,1.36
99,2,14.82,0.75,2.24,15.2,139,1.02,3.18,0.69,0.85

### Get Range of Entries

In [48]:
 wine[50:60] # this give you a range result like if you want to rows between row No: 10 to row no:15 this give

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth
50,1,14.82,3.97,3.04,27.6,100,1.10,3.68,0.23,1.65
51,1,14.82,2.87,1.92,14.4,153,1.64,3.67,0.75,0.91
52,2,14.82,4.57,2.76,17.7,125,3.37,3.11,0.31,3.79
53,3,14.82,2.51,2.95,29.0,130,2.62,0.53,0.67,1.07
54,1,14.82,1.60,1.57,10.7,116,1.93,2.03,0.68,2.32
55,2,14.82,3.65,2.64,17.5,129,3.85,4.84,1.00,2.27
56,3,14.82,4.81,2.04,12.5,106,1.24,1.58,0.25,1.92
57,2,14.82,2.73,1.74,27.5,120,1.58,2.91,0.94,2.07
58,2,14.82,2.11,1.57,18.7,126,3.50,0.97,0.19,1.43
59,2,14.82,3.26,2.70,22.3,143,2.19,4.14,0.54,1.53

### Accessing DataFram Columns

In [45]:
wine.columns    # this give you all column list

Index(['Wine', 'Alcohol', 'Malic.acid', 'Ash', 'Acl', 'Mg', 'Phenols',
       'Flavanoids', 'Nonflavanoid.phenols', 'Proanth'],
      dtype='object')

### Accessing 'n' Column

In [49]:
wine['Wine'] # this give you  only one column in return

0     1
1     1
2     3
3     1
4     1
     ..
95    1
96    3
97    3
98    2
99    2
Name: Wine, Length: 100, dtype: int64

In [51]:
wine[['Wine','Alcohol','Mg','Phenols']]  # Accessing multiple columns

    Wine  Alcohol   Mg  Phenols
0      1    14.82  130     2.68
1      1    14.82   85     2.71
2      3    14.82  111     2.40
3      1    14.82  129     2.46
4      1    14.82  111     3.65
..   ...      ...  ...      ...
95     1    14.82  154     2.33
96     3    14.82  147     1.54
97     3    14.82  127     3.72
98     2    14.82  152     3.75
99     2    14.82  139     1.02

[100 rows x 4 columns]

### Checking Column Type

In [54]:
type(wine['Wine'])

pandas.core.series.Series

### Common Operations on Columns

In [64]:
wine['Mg'].std() # Standard Deviation

25.583683247039477

In [65]:
wine[wine.Mg == wine['Mg'].min()] # Return minimum MG with all columns detials

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth
9,1,14.82,1.72,2.43,15.2,70,2.8,4.83,0.61,2.23
10,2,14.82,1.95,2.58,15.5,70,2.9,4.18,0.74,0.65

### The Describe Method

In [67]:
wine['Malic.acid'].describe()  # This give you all details about given column

count    100.00000
mean       3.06460
std        1.27683
min        0.72000
25%        1.95750
50%        3.27000
75%        4.17000
max        5.00000
Name: Malic.acid, dtype: float64

### Conditional Operation on Column

In [72]:
wine[wine.Ash >= 3]

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth
6,2,14.82,4.41,3.19,18.0,137,3.58,4.93,0.89,3.68
7,2,14.82,0.72,3.44,17.9,71,1.84,0.62,0.68,3.20
12,3,14.82,3.23,3.12,14.1,111,3.66,1.10,0.33,1.43
13,1,14.82,4.53,3.06,16.2,114,1.39,3.26,0.84,2.47
14,1,14.82,5.00,3.15,14.9,154,3.31,0.74,0.21,1.96
20,1,14.82,4.40,3.23,11.5,159,1.45,2.22,0.31,3.59
31,2,14.82,1.47,3.23,14.4,73,3.56,3.95,0.92,3.52
33,1,14.82,2.72,3.40,14.5,118,1.41,2.38,0.36,2.52
37,2,14.82,1.37,3.30,20.2,124,3.76,1.65,0.54,2.83
39,1,14.82,4.08,3.25,25.6,152,3.26,4.25,0.77,2.11
40,3,14.82,2.56,3.03,23.0,125,2.88,3.71,0.66,3.35
48,2,14.82,3.15,3.33,18.8,126,1.51,3.51,0.94,1.40
50,1,14.82,3.97,3.04,27.6,100,1.10,3.68,0.23,1.65
62,1,14.82,0.80,3.31,19.8,117,3.68,1.40,0.38,3.59
66,2,14.82,3.58,3.44,29.9,108,1.47,1.60,0.64,2.08
70,2,14.82,2.37,3.10,11.3,156,3.57,4.00,0.34,1.66
73,2,14.82,2.78,3.29,13.6,139,3.24,0.92,0.65,2.63
74,1,14.82,1.34,3.38,12.5,124,2.12,2.29,0.70,1.93
75,1,14.82,3.41,3.46,29.2,76,3.23,2.77,0.47,1.83
82,3,14.82,3.42,3.00,25.2,110,3.38,2.90,0.96,2.82
84,3,14.82,1.12,3.39,29.4,85,2.07,3.63,0.26,1.95
91,1,14.82,3.84,3.48,18.6,85,3.35,4.38,0.39,0.94

### Set Index

In [85]:
all_fruits = pd.read_csv(r"C:\Users\Prafull Wahatule\Desktop\Python_DA\Data\all_fruits.csv")

In [86]:
print(all_fruits)

           Fruits  Price InStock
0           Apple    626      No
1          Orange    481      No
2          Banana   1014     Yes
3          Grapes    144      No
4           Mango    922     Yes
..            ...    ...     ...
97   Prickly Pear    603     Yes
98      Carambola    246     Yes
99        Kumquat    279      No
100        Loquat    294     Yes
101     Cherimoya    169     Yes

[102 rows x 3 columns]

In [89]:
all_fruits.set_index('Fruits', inplace = True)

### Ioc And iloc

In [90]:
all_fruits.loc['Apple']

Price      626
InStock     No
Name: Apple, dtype: object

In [91]:
all_fruits.iloc[0]

Price      626
InStock     No
Name: Apple, dtype: object