# Join

In [1]:
import pandas as pd

In [6]:
df1 = pd.DataFrame({'key':['x','y'],
                  'A':['A1','A2'],
                  'B':['B1','B2']})
df1.set_index('key', inplace = True)
df1

      A   B
key
x    A1  B1
y    A2  B2

In [7]:
df2 = pd.DataFrame({'key':['x','z'],
                  'A':['A1','A2'],
                  'C':['C1','C2']})
df2.set_index('key', inplace = True)
df2

      A   C
key
x    A1  C1
z    A2  C2

#### Left Join

In [12]:
df1.join(df2, lsuffix='_df1', rsuffix='_df2', how='left')

    A_df1   B A_df2    C
key
x      A1  B1    A1   C1
y      A2  B2   NaN  NaN

#### Right Join

In [13]:
df1.join(df2, lsuffix='_df1', rsuffix='_df2', how='right')

    A_df1    B A_df2   C
key
x      A1   B1    A1  C1
z     NaN  NaN    A2  C2

#### Innner Join

In [14]:
df1.join(df2, lsuffix='_df1', rsuffix='_df2', how='inner')

    A_df1   B A_df2   C
key
x      A1  B1    A1  C1

#### Outer Join

In [17]:
df1.join(df2, lsuffix='_df1', rsuffix='_df2', how='outer')

    A_df1    B A_df2    C
key
x      A1   B1    A1   C1
y      A2   B2   NaN  NaN
z     NaN  NaN    A2   C2