# Calculate Frequency Distribution in Pandas

In [1]:
 import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\Prafull Wahatule\Desktop\Python_DA\Data\all_fruits.csv")

In [3]:
df

           Fruits  Price InStock    Type
0           Apple    626      No  Medium
1          Orange    481      No  Medium
2          Banana   1014     Yes    High
3          Grapes    144      No     Low
4           Mango    922     Yes    High
..            ...    ...     ...     ...
97   Prickly Pear    603     Yes  Medium
98      Carambola    246     Yes     Low
99        Kumquat    279      No     Low
100        Loquat    294     Yes     Low
101     Cherimoya    169     Yes     Low

[102 rows x 4 columns]

In [6]:
pd.crosstab(df.Type,df.InStock)

InStock  No  Yes
Type
High     27   32
Low       8   11
Medium   13   11