# Concatenate

In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({'key':['x','y'],
                  'A':['A1','A2'],
                  'B':['B1','B2']})
df1.set_index('key', inplace = True)
df1

      A   B
key
x    A1  B1
y    A2  B2

In [3]:
df2 = pd.DataFrame({'key':['x','z'],
                  'A':['A1','A2'],
                  'C':['C1','C2']})
df2.set_index('key', inplace = True)
df2

      A   C
key
x    A1  C1
z    A2  C2

In [4]:
pd.concat([df1,df2],sort = False)

      A    B    C
key
x    A1   B1  NaN
y    A2   B2  NaN
x    A1  NaN   C1
z    A2  NaN   C2