# Understand Filters in Pandas

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\Prafull Wahatule\Desktop\Python_DA\Data\all_fruits.csv")
df

           Fruits  Price InStock    Type
0           Apple    626      No  Medium
1          Orange    481      No  Medium
2          Banana   1014     Yes    High
3          Grapes    144      No     Low
4           Mango    922     Yes    High
..            ...    ...     ...     ...
97   Prickly Pear    603     Yes  Medium
98      Carambola    246     Yes     Low
99        Kumquat    279      No     Low
100        Loquat    294     Yes     Low
101     Cherimoya    169     Yes     Low

[102 rows x 4 columns]

In [5]:
df_filter = df.filter(["Type", "Fruits"])

       Type        Fruits
0    Medium         Apple
1    Medium        Orange
2      High        Banana
3       Low        Grapes
4      High         Mango
..      ...           ...
97   Medium  Prickly Pear
98      Low     Carambola
99      Low       Kumquat
100     Low        Loquat
101     Low     Cherimoya

[102 rows x 2 columns]

In [11]:
df_rgex = df.filter(regex="s$", axis=1)   # Filter Colume using caracter lis 's' is last of rutits
df_rgex

           Fruits
0           Apple
1          Orange
2          Banana
3          Grapes
4           Mango
..            ...
97   Prickly Pear
98      Carambola
99        Kumquat
100        Loquat
101     Cherimoya

[102 rows x 1 columns]

In [13]:
df.set_index("Type", inplace = True)
df

              Fruits  Price InStock
Type
Medium         Apple    626      No
Medium        Orange    481      No
High          Banana   1014     Yes
Low           Grapes    144      No
High           Mango    922     Yes
...              ...    ...     ...
Medium  Prickly Pear    603     Yes
Low        Carambola    246     Yes
Low          Kumquat    279      No
Low           Loquat    294     Yes
Low        Cherimoya    169     Yes

[102 rows x 3 columns]

In [17]:
df_row = df.filter(regex = "Apple", axis = 0)
df_row

Empty DataFrame
Columns: [Fruits, Price, InStock]
Index: []