# Group By

In [39]:
import pandas as pd

In [40]:
winedata = pd.read_csv(r"C:\Users\Prafull Wahatule\Desktop\Python_DA\Data\wine.csv")

In [41]:
print(winedata)

    Wine  Alcohol  Malic.acid   Ash   Acl   Mg  Phenols  Flavanoids  \
0      1    14.82        4.80  1.58  25.6  130     2.68        1.62
1      1    14.82        4.15  1.87  12.0   85     2.71        2.21
2      3    14.82        3.48  1.64  21.5  111     2.40        1.01
3      1    14.82        3.20  2.94  26.6  129     2.46        4.74
4      1    14.82        1.96  2.40  17.7  111     3.65        1.82
..   ...      ...         ...   ...   ...  ...      ...         ...
95     1    14.82        4.93  2.96  27.3  154     2.33        3.61
96     3    14.82        1.13  2.53  15.4  147     1.54        1.64
97     3    14.82        0.95  2.15  21.2  127     3.72        4.74
98     2    14.82        4.24  1.73  29.4  152     3.75        4.55
99     2    14.82        0.75  2.24  15.2  139     1.02        3.18

    Nonflavanoid.phenols  Proanth
0                   0.13     3.04
1                   0.82     0.64
2                   0.38     0.87
3                   0.90     3.89
4                   0.20     2.79
..                   ...      ...
95                  0.15     1.80
96                  0.85     3.48
97                  0.54     3.17
98                  0.57     1.36
99                  0.69     0.85

[100 rows x 10 columns]

### How to Create Group Object

In [42]:
dfwine = winedata.groupby(['Wine'])
dfwine

### Frequently Used Group by Operations

In [43]:
dfwine.first()

,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth
Wine,,,,,,,,,
1,14.82,4.80,1.58,25.6,130,2.68,1.62,0.13,3.04
2,14.82,4.85,2.69,19.7,109,1.82,2.68,0.55,1.55
3,14.82,3.48,1.64,21.5,111,2.40,1.01,0.38,0.87

In [44]:
dfwine['Ash'].max()

Wine
1    3.48
2    3.44
3    3.39
Name: Ash, dtype: float64

In [45]:
dfwine['Ash'].min()

Wine
1    1.54
2    1.50
3    1.57
Name: Ash, dtype: float64

In [46]:
dfwine['Ash'].mean()

Wine
1    2.550571
2    2.538529
3    2.333871
Name: Ash, dtype: float64

### Iterating Groups

In [47]:
dfwine.groups

{1: [0, 1, 3, 4, 9, 13, 14, 15, 17, 20, 23, 26, 28, 30, 32, 33, 34, 38, 39, 42, 50, 51, 54, 62, 71, 72, 74, 75, 76, 78, 86, 91, 93, 94, 95], 2: [5, 6, 7, 8, 10, 11, 16, 27, 29, 31, 37, 41, 45, 47, 48, 49, 52, 55, 57, 58, 59, 61, 64, 66, 67, 68, 69, 70, 73, 77, 87, 90, 98, 99], 3: [2, 12, 18, 19, 21, 22, 24, 25, 35, 36, 40, 43, 44, 46, 53, 56, 60, 63, 65, 79, 80, 81, 82, 83, 84, 85, 88, 89, 92, 96, 97]}

In [48]:
for wine,wine_df in dfwine:
    print(wine)
    print(wine_df)

(1,)
    Wine  Alcohol  Malic.acid   Ash   Acl   Mg  Phenols  Flavanoids  \
0      1    14.82        4.80  1.58  25.6  130     2.68        1.62
1      1    14.82        4.15  1.87  12.0   85     2.71        2.21
3      1    14.82        3.20  2.94  26.6  129     2.46        4.74
4      1    14.82        1.96  2.40  17.7  111     3.65        1.82
9      1    14.82        1.72  2.43  15.2   70     2.80        4.83
13     1    14.82        4.53  3.06  16.2  114     1.39        3.26
14     1    14.82        5.00  3.15  14.9  154     3.31        0.74
15     1    14.82        2.49  2.28  17.5  157     2.24        1.41
17     1    14.82        3.58  2.69  16.0   99     1.11        2.70
20     1    14.82        4.40  3.23  11.5  159     1.45        2.22
23     1    14.82        3.52  2.75  27.9   84     3.27        3.65
26     1    14.82        2.88  1.54  18.5  121     3.78        1.41
28     1    14.82        4.02  2.82  22.5  129     1.03        3.84
30     1    14.82        4.28  2.39  15.7   88     3.03        3.84
32     1    14.82        2.64  1.89  28.3  127     3.44        1.91
33     1    14.82        2.72  3.40  14.5  118     1.41        2.38
34     1    14.82        3.15  2.95  13.7   76     1.45        4.47
38     1    14.82        3.89  2.77  22.7  110     2.88        4.67
39     1    14.82        4.08  3.25  25.6  152     3.26        4.25
42     1    14.82        2.79  2.54  18.4   78     3.54        0.66
50     1    14.82        3.97  3.04  27.6  100     1.10        3.68
51     1    14.82        2.87  1.92  14.4  153     1.64        3.67
54     1    14.82        1.60  1.57  10.7  116     1.93        2.03
62     1    14.82        0.80  3.31  19.8  117     3.68        1.40
71     1    14.82        0.82  1.81  10.5  102     1.94        3.15
72     1    14.82        4.68  1.65  26.1   82     3.40        3.14
74     1    14.82        1.34  3.38  12.5  124     2.12        2.29
75     1    14.82        3.41  3.46  29.2   76     3.23        2.77
76     1    14.82        2.70  1.91  13.8  111     3.40        3.15
78     1    14.82        4.92  2.79  12.0  145     2.15        1.70
86     1    14.82        3.39  1.68  21.4  112     3.92        2.40
91     1    14.82        3.84  3.48  18.6   85     3.35        4.38
93     1    14.82        4.08  2.66  19.0  146     3.21        2.24
94     1    14.82        4.73  1.72  11.2   94     1.88        2.45
95     1    14.82        4.93  2.96  27.3  154     2.33        3.61

    Nonflavanoid.phenols  Proanth
0                   0.13     3.04
1                   0.82     0.64
3                   0.90     3.89
4                   0.20     2.79
9                   0.61     2.23
13                  0.84     2.47
14                  0.21     1.96
15                  0.60     1.72
17                  0.38     2.00
20                  0.31     3.59
23                  0.92     2.47
26                  0.12     2.12
28                  0.37     1.94
30                  0.40     3.73
32                  0.13     1.33
33                  0.36     2.52
34                  0.76     1.74
38                  0.44     1.45
39                  0.77     2.11
42                  0.92     3.62
50                  0.23     1.65
51                  0.75     0.91
54                  0.68     2.32
62                  0.38     3.59
71                  1.00     0.90
72                  0.88     1.48
74                  0.70     1.93
75                  0.47     1.83
76                  0.43     0.64
78                  0.63     3.02
86                  0.45     2.17
91                  0.39     0.94
93                  0.54     1.60
94                  0.20     0.66
95                  0.15     1.80
(2,)
    Wine  Alcohol  Malic.acid   Ash   Acl   Mg  Phenols  Flavanoids  \
5      2    14.82        4.85  2.69  19.7  109     1.82        2.68
6      2    14.82        4.41  3.19  18.0  137     3.58        4.93
7      2    14.82        0.72  3.44  17.9   71     1.84        0.62
8      2    14.82        4.23  2.46  20.2  123     3.04        3.46
10     2    14.82        1.95  2.58  15.5   70     2.90        4.18
11     2    14.82        2.93  2.89  13.6  157     3.75        3.52
16     2    14.82        1.46  2.77  16.6  115     3.89        3.72
27     2    14.82        3.03  2.29  26.0  121     3.05        0.98
29     2    14.82        2.42  1.63  18.7  150     2.86        2.99
31     2    14.82        1.47  3.23  14.4   73     3.56        3.95
37     2    14.82        1.37  3.30  20.2  124     3.76        1.65
41     2    14.82        3.43  2.60  25.5  121     2.60        4.43
45     2    14.82        1.65  2.93  17.6  157     2.28        1.88
47     2    14.82        2.82  2.23  27.8  149     2.65        4.60
48     2    14.82        3.15  3.33  18.8  126     1.51        3.51
49     2    14.82        1.63  2.05  17.0   92     3.39        4.34
52     2    14.82        4.57  2.76  17.7  125     3.37        3.11
55     2    14.82        3.65  2.64  17.5  129     3.85        4.84
57     2    14.82        2.73  1.74  27.5  120     1.58        2.91
58     2    14.82        2.11  1.57  18.7  126     3.50        0.97
59     2    14.82        3.26  2.70  22.3  143     2.19        4.14
61     2    14.82        3.38  2.66  17.2  110     3.51        2.71
64     2    14.82        0.74  2.04  18.2   98     3.42        4.46
66     2    14.82        3.58  3.44  29.9  108     1.47        1.60
67     2    14.82        1.01  1.70  10.7  131     2.17        2.41
68     2    14.82        4.67  1.50  17.2  128     2.88        0.54
69     2    14.82        1.43  1.75  10.9  121     1.18        4.87
70     2    14.82        2.37  3.10  11.3  156     3.57        4.00
73     2    14.82        2.78  3.29  13.6  139     3.24        0.92
77     2    14.82        4.56  2.94  15.5   84     2.46        2.29
87     2    14.82        1.24  2.93  11.2   92     1.44        3.71
90     2    14.82        3.99  1.97  29.2   86     2.71        1.69
98     2    14.82        4.24  1.73  29.4  152     3.75        4.55
99     2    14.82        0.75  2.24  15.2  139     1.02        3.18

    Nonflavanoid.phenols  Proanth
5                   0.55     1.55
6                   0.89     3.68
7                   0.68     3.20
8                   0.35     3.77
10                  0.74     0.65
11                  0.63     0.60
16                  0.42     3.87
27                  0.89     1.75
29                  0.96     3.41
31                  0.92     3.52
37                  0.54     2.83
41                  0.96     3.48
45                  0.81     2.92
47                  0.13     3.81
48                  0.94     1.40
49                  0.77     2.03
52                  0.31     3.79
55                  1.00     2.27
57                  0.94     2.07
58                  0.19     1.43
59                  0.54     1.53
61                  0.42     3.88
64                  0.24     0.67
66                  0.64     2.08
67                  0.85     3.12
68                  0.73     1.01
69                  0.72     0.77
70                  0.34     1.66
73                  0.65     2.63
77                  0.16     2.53
87                  0.76     0.80
90                  0.12     3.29
98                  0.57     1.36
99                  0.69     0.85
(3,)
    Wine  Alcohol  Malic.acid   Ash   Acl   Mg  Phenols  Flavanoids  \
2      3    14.82        3.48  1.64  21.5  111     2.40        1.01
12     3    14.82        3.23  3.12  14.1  111     3.66        1.10
18     3    14.82        3.56  1.78  14.7  156     2.90        0.73
19     3    14.82        1.93  1.82  14.2  126     1.37        1.47
21     3    14.82        4.49  1.87  29.0  130     1.01        2.90
22     3    14.82        1.28  1.76  12.3   79     3.86        1.68
24     3    14.82        1.96  2.46  11.9  146     3.42        4.93
25     3    14.82        4.88  1.57  14.7  116     2.58        4.84
35     3    14.82        1.10  2.83  18.7  154     2.02        3.98
36     3    14.82        4.48  2.98  10.1   71     3.94        3.62
40     3    14.82        2.56  3.03  23.0  125     2.88        3.71
43     3    14.82        4.24  2.50  27.9   74     1.90        1.35
44     3    14.82        4.84  1.57  15.7  130     2.40        1.45
46     3    14.82        3.72  1.74  18.5   99     3.05        1.59
53     3    14.82        2.51  2.95  29.0  130     2.62        0.53
56     3    14.82        4.81  2.04  12.5  106     1.24        1.58
60     3    14.82        1.22  2.03  14.2   99     2.68        3.98
63     3    14.82        3.84  2.41  28.0  114     3.26        2.98
65     3    14.82        3.55  2.90  11.3  153     2.82        1.68
79     3    14.82        3.28  2.01  11.4  120     3.71        3.79
80     3    14.82        4.45  2.39  17.1  133     3.84        4.50
81     3    14.82        4.85  1.73  11.6  114     3.46        3.39
82     3    14.82        3.42  3.00  25.2  110     3.38        2.90
83     3    14.82        1.58  2.14  16.0  129     1.13        4.43
84     3    14.82        1.12  3.39  29.4   85     2.07        3.63
85     3    14.82        4.27  2.31  29.3  144     2.57        2.83
88     3    14.82        3.43  2.84  16.2  154     1.47        2.62
89     3    14.82        3.65  2.41  14.2  145     1.52        3.17
92     3    14.82        2.19  2.45  29.3   74     2.33        2.85
96     3    14.82        1.13  2.53  15.4  147     1.54        1.64
97     3    14.82        0.95  2.15  21.2  127     3.72        4.74

    Nonflavanoid.phenols  Proanth
2                   0.38     0.87
12                  0.33     1.43
18                  0.57     3.91
19                  0.48     3.68
21                  0.24     1.28
22                  0.10     1.82
24                  0.15     0.66
25                  0.95     2.54
35                  0.47     2.60
36                  0.22     0.84
40                  0.66     3.35
43                  0.57     2.66
44                  0.13     3.99
46                  0.49     3.22
53                  0.67     1.07
56                  0.25     1.92
60                  0.52     1.89
63                  0.30     2.46
65                  0.58     1.22
79                  0.43     3.63
80                  0.82     2.54
81                  0.13     3.75
82                  0.96     2.82
83                  0.26     3.86
84                  0.26     1.95
85                  0.44     2.06
88                  0.10     1.17
89                  0.34     2.79
92                  0.46     0.63
96                  0.85     3.48
97                  0.54     3.17

### How to Get Information About a Specific Group

In [52]:
dfwine.get_group((1,))

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth
0,1,14.82,4.80,1.58,25.6,130,2.68,1.62,0.13,3.04
1,1,14.82,4.15,1.87,12.0,85,2.71,2.21,0.82,0.64
3,1,14.82,3.20,2.94,26.6,129,2.46,4.74,0.90,3.89
4,1,14.82,1.96,2.40,17.7,111,3.65,1.82,0.20,2.79
9,1,14.82,1.72,2.43,15.2,70,2.80,4.83,0.61,2.23
13,1,14.82,4.53,3.06,16.2,114,1.39,3.26,0.84,2.47
14,1,14.82,5.00,3.15,14.9,154,3.31,0.74,0.21,1.96
15,1,14.82,2.49,2.28,17.5,157,2.24,1.41,0.60,1.72
17,1,14.82,3.58,2.69,16.0,99,1.11,2.70,0.38,2.00
20,1,14.82,4.40,3.23,11.5,159,1.45,2.22,0.31,3.59
23,1,14.82,3.52,2.75,27.9,84,3.27,3.65,0.92,2.47
26,1,14.82,2.88,1.54,18.5,121,3.78,1.41,0.12,2.12
28,1,14.82,4.02,2.82,22.5,129,1.03,3.84,0.37,1.94
30,1,14.82,4.28,2.39,15.7,88,3.03,3.84,0.40,3.73
32,1,14.82,2.64,1.89,28.3,127,3.44,1.91,0.13,1.33
33,1,14.82,2.72,3.40,14.5,118,1.41,2.38,0.36,2.52
34,1,14.82,3.15,2.95,13.7,76,1.45,4.47,0.76,1.74
38,1,14.82,3.89,2.77,22.7,110,2.88,4.67,0.44,1.45
39,1,14.82,4.08,3.25,25.6,152,3.26,4.25,0.77,2.11
42,1,14.82,2.79,2.54,18.4,78,3.54,0.66,0.92,3.62
50,1,14.82,3.97,3.04,27.6,100,1.10,3.68,0.23,1.65
51,1,14.82,2.87,1.92,14.4,153,1.64,3.67,0.75,0.91
54,1,14.82,1.60,1.57,10.7,116,1.93,2.03,0.68,2.32
62,1,14.82,0.80,3.31,19.8,117,3.68,1.40,0.38,3.59
71,1,14.82,0.82,1.81,10.5,102,1.94,3.15,1.00,0.90
72,1,14.82,4.68,1.65,26.1,82,3.40,3.14,0.88,1.48
74,1,14.82,1.34,3.38,12.5,124,2.12,2.29,0.70,1.93
75,1,14.82,3.41,3.46,29.2,76,3.23,2.77,0.47,1.83
76,1,14.82,2.70,1.91,13.8,111,3.40,3.15,0.43,0.64
78,1,14.82,4.92,2.79,12.0,145,2.15,1.70,0.63,3.02
86,1,14.82,3.39,1.68,21.4,112,3.92,2.40,0.45,2.17
91,1,14.82,3.84,3.48,18.6,85,3.35,4.38,0.39,0.94
93,1,14.82,4.08,2.66,19.0,146,3.21,2.24,0.54,1.60
94,1,14.82,4.73,1.72,11.2,94,1.88,2.45,0.20,0.66
95,1,14.82,4.93,2.96,27.3,154,2.33,3.61,0.15,1.80

### Getting Detailed View of the Grops

In [53]:
dfwine.describe()

     Alcohol                                                          \
       count   mean           std    min    25%    50%    75%    max
Wine
1       35.0  14.82  5.406871e-15  14.82  14.82  14.82  14.82  14.82
2       34.0  14.82  5.409211e-15  14.82  14.82  14.82  14.82  14.82
3       31.0  14.82  5.417160e-15  14.82  14.82  14.82  14.82  14.82

     Malic.acid            ... Nonflavanoid.phenols       Proanth            \
          count      mean  ...                  75%   max   count      mean
Wine                       ...
1          35.0  3.368000  ...                0.755  1.00    35.0  2.080000
2          34.0  2.722941  ...                0.840  1.00    34.0  2.300294
3          31.0  3.096774  ...                0.570  0.96    31.0  2.363226


           std   min     25%    50%    75%   max
Wine
1     0.911308  0.64  1.5400  1.960  2.495  3.89
2     1.128814  0.60  1.4075  2.175  3.380  3.88
3     1.074465  0.63  1.3550  2.540  3.285  3.99

[3 rows x 72 columns]

In [54]:
dir(dfwine)

['Acl',
 'Alcohol',
 'Ash',
 'Flavanoids',
 'Mg',
 'Phenols',
 'Proanth',
 'Wine',
 '_DataFrameGroupBy__examples_dataframe_doc',
 '__annotations__',
 '__class__',
 '__class_getitem__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__firstlineno__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__orig_bases__',
 '__parameters__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__static_attributes__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_accessors',
 '_agg_examples_doc',
 '_agg_general',
 '_agg_py_fallback',
 '_aggregate_frame',
 '_aggregate_with_numba',
 '_apply_filter',
 '_apply_to_column_groupbys',
 '_ascending_count',
 '_cache',
 '_choose_path',
 '_concat_objects',
 '_constructor',
 '_cumcount_array',
 '_cython_agg_general',
 '_cython_transform',
 '_define_paths',
 '_deprecate_axis',
 '_descending_count',
 '_dir_additions',
 '_dir_deletions',
 '_fill',
 '_get_data_to_aggregate',
 '_get_index',
 '_get_indices',
 '_gotitem',
 '_grouper',
 '_hidden_attrs',
 '_idxmax_idxmin',
 '_infer_selection',
 '_insert_inaxis_grouper',
 '_internal_names',
 '_internal_names_set',
 '_make_mask_from_int',
 '_make_mask_from_list',
 '_make_mask_from_positional_indexer',
 '_make_mask_from_slice',
 '_make_mask_from_tuple',
 '_mask_selected_obj',
 '_maybe_transpose_result',
 '_nth',
 '_numba_agg_general',
 '_numba_prep',
 '_obj_1d_constructor',
 '_obj_with_exclusions',
 '_op_via_apply',
 '_positional_selector',
 '_python_agg_general',
 '_python_apply_general',
 '_reindex_output',
 '_reset_cache',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_set_result_index_ordered',
 '_transform',
 '_transform_general',
 '_transform_with_numba',
 '_value_counts',
 '_wrap_agged_manager',
 '_wrap_aggregated_output',
 '_wrap_applied_output',
 '_wrap_applied_output_series',
 '_wrap_idxmax_idxmin',
 '_wrap_transform_fast_result',
 'agg',
 'aggregate',
 'all',
 'any',
 'apply',
 'bfill',
 'boxplot',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cumcount',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'dtypes',
 'ewm',
 'expanding',
 'ffill',
 'fillna',
 'filter',
 'first',
 'get_group',
 'groups',
 'head',
 'hist',
 'idxmax',
 'idxmin',
 'indices',
 'last',
 'max',
 'mean',
 'median',
 'min',
 'ndim',
 'ngroup',
 'ngroups',
 'nth',
 'nunique',
 'ohlc',
 'pct_change',
 'pipe',
 'plot',
 'prod',
 'quantile',
 'rank',
 'resample',
 'rolling',
 'sample',
 'sem',
 'shift',
 'size',
 'skew',
 'std',
 'sum',
 'tail',
 'take',
 'transform',
 'value_counts',
 'var']

### Check the Length of Group

In [65]:

len(dfwine.get_group((1,)))

35

In [66]:
len(dfwine)

3

### Groupby with Multi-Index

In [71]:
fruits = pd.read_csv(r"C:\Users\Prafull Wahatule\Desktop\Python_DA\Data\all_fruits.csv")

In [73]:
fruits

           Fruits  Price InStock    Type
0           Apple    626      No  Medium
1          Orange    481      No  Medium
2          Banana   1014     Yes    High
3          Grapes    144      No     Low
4           Mango    922     Yes    High
..            ...    ...     ...     ...
97   Prickly Pear    603     Yes  Medium
98      Carambola    246     Yes     Low
99        Kumquat    279      No     Low
100        Loquat    294     Yes     Low
101     Cherimoya    169     Yes     Low

[102 rows x 4 columns]

In [76]:
df_mi = fruits.set_index(['Type','InStock'])
df_mi

                      Fruits  Price
Type   InStock
Medium No              Apple    626
       No             Orange    481
High   Yes            Banana   1014
Low    No             Grapes    144
High   Yes             Mango    922
...                      ...    ...
Medium Yes      Prickly Pear    603
Low    Yes         Carambola    246
       No            Kumquat    279
       Yes            Loquat    294
       Yes         Cherimoya    169

[102 rows x 2 columns]