# Handling Missing Data

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv(r"C:\Users\Prafull Wahatule\Desktop\Python_DA\Data\wine.csv")
df

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth
0,1,16.35,4.80,1.58,25.6,130,2.68,1.62,0.13,3.04
1,1,16.64,4.15,1.87,12.0,85,2.71,2.21,0.82,0.64
2,3,11.98,3.48,1.64,21.5,111,2.40,1.01,0.38,0.87
3,1,12.68,3.20,2.94,26.6,129,2.46,4.74,0.90,3.89
4,1,17.84,1.96,2.40,17.7,111,3.65,1.82,0.20,2.79
...,...,...,...,...,...,...,...,...,...,...
95,1,16.63,4.93,2.96,27.3,154,2.33,3.61,0.15,1.80
96,3,16.77,1.13,2.53,15.4,147,1.54,1.64,0.85,3.48
97,3,12.03,0.95,2.15,21.2,127,3.72,4.74,0.54,3.17
98,2,15.99,4.24,1.73,29.4,152,3.75,4.55,0.57,1.36
99,2,16.90,0.75,2.24,15.2,139,1.02,3.18,0.69,0.85

### Check For Missing Data

In [7]:
df['Alcohol'].isna()

0     False
1     False
2     False
3     False
4     False
      ...
95    False
96    False
97    False
98    False
99    False
Name: Alcohol, Length: 100, dtype: bool

In [8]:
df.isna()

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
95,False,False,False,False,False,False,False,False,False,False
96,False,False,False,False,False,False,False,False,False,False
97,False,False,False,False,False,False,False,False,False,False
98,False,False,False,False,False,False,False,False,False,False
99,False,False,False,False,False,False,False,False,False,False

### Get Count of Missing Data

In [10]:
df.isnull().sum()  # it give you count of all null value in data

Wine                    0
Alcohol                 0
Malic.acid              0
Ash                     0
Acl                     0
Mg                      0
Phenols                 0
Flavanoids              0
Nonflavanoid.phenols    0
Proanth                 0
dtype: int64

### df.fillna(method='ffill', inplace=True)Filling Missing Data

#### 1.Forword fill
#### 2.Backword fill
#### 3.Forword Fill with a specific value
#### 4.Froword Fill only specific column

In [21]:
df.ffill(inplace=True)   # F mean forword fill  = ffill

In [22]:
df.bfill(inplace=True)  # B mean Backword fill = bfill

In [29]:
df.fillna(0, inplace=True)  # Fill with a specific value

In [28]:
df["Mg"] = df["Mg"].ffill() # Fill only specific column

In [30]:
df

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth
0,1,16.35,4.80,1.58,25.6,130,2.68,1.62,0.13,3.04
1,1,16.64,4.15,1.87,12.0,85,2.71,2.21,0.82,0.64
2,3,11.98,3.48,1.64,21.5,111,2.40,1.01,0.38,0.87
3,1,12.68,3.20,2.94,26.6,129,2.46,4.74,0.90,3.89
4,1,17.84,1.96,2.40,17.7,111,3.65,1.82,0.20,2.79
...,...,...,...,...,...,...,...,...,...,...
95,1,16.63,4.93,2.96,27.3,154,2.33,3.61,0.15,1.80
96,3,16.77,1.13,2.53,15.4,147,1.54,1.64,0.85,3.48
97,3,12.03,0.95,2.15,21.2,127,3.72,4.74,0.54,3.17
98,2,15.99,4.24,1.73,29.4,152,3.75,4.55,0.57,1.36
99,2,16.90,0.75,2.24,15.2,139,1.02,3.18,0.69,0.85

### Interpolate Missing Value

In [31]:
df.interpolate()

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth
0,1,16.35,4.80,1.58,25.6,130,2.68,1.62,0.13,3.04
1,1,16.64,4.15,1.87,12.0,85,2.71,2.21,0.82,0.64
2,3,11.98,3.48,1.64,21.5,111,2.40,1.01,0.38,0.87
3,1,12.68,3.20,2.94,26.6,129,2.46,4.74,0.90,3.89
4,1,17.84,1.96,2.40,17.7,111,3.65,1.82,0.20,2.79
...,...,...,...,...,...,...,...,...,...,...
95,1,16.63,4.93,2.96,27.3,154,2.33,3.61,0.15,1.80
96,3,16.77,1.13,2.53,15.4,147,1.54,1.64,0.85,3.48
97,3,12.03,0.95,2.15,21.2,127,3.72,4.74,0.54,3.17
98,2,15.99,4.24,1.73,29.4,152,3.75,4.55,0.57,1.36
99,2,16.90,0.75,2.24,15.2,139,1.02,3.18,0.69,0.85

### When to Drop Missing Value

In [38]:
df.dropna()

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth
0,1,16.35,4.80,1.58,25.6,130,2.68,1.62,0.13,3.04
1,1,16.64,4.15,1.87,12.0,85,2.71,2.21,0.82,0.64
2,3,11.98,3.48,1.64,21.5,111,2.40,1.01,0.38,0.87
3,1,12.68,3.20,2.94,26.6,129,2.46,4.74,0.90,3.89
4,1,17.84,1.96,2.40,17.7,111,3.65,1.82,0.20,2.79
...,...,...,...,...,...,...,...,...,...,...
95,1,16.63,4.93,2.96,27.3,154,2.33,3.61,0.15,1.80
96,3,16.77,1.13,2.53,15.4,147,1.54,1.64,0.85,3.48
97,3,12.03,0.95,2.15,21.2,127,3.72,4.74,0.54,3.17
98,2,15.99,4.24,1.73,29.4,152,3.75,4.55,0.57,1.36
99,2,16.90,0.75,2.24,15.2,139,1.02,3.18,0.69,0.85