# Let's Understand Transform

In [1]:
import pandas as pd

In [3]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

# Generate 50 rows of dummy sales data
np.random.seed(42)

products = ["Apple", "Banana", "Orange", "Grapes", "Mango", "Pineapple"]
regions = ["East", "West", "North", "South"]

dates = [datetime.today() - timedelta(days=i) for i in range(50)]

df = pd.DataFrame({
    "Date": [d.strftime("%Y-%m-%d") for d in dates],
    "Product": np.random.choice(products, 50),
    "Quantity": np.random.randint(1, 50, 50),
    "Price": np.random.randint(50, 500, 50)
})

df["Total"] = df["Quantity"] * df["Price"]
df["Region"] = np.random.choice(regions, 50)

file_path = "C:/Users/Prafull Wahatule/Desktop/Python_DA/Data/sales_data_50rows.csv"
df.to_csv(file_path, index=False)

file_path

'C:/Users/Prafull Wahatule/Desktop/Python_DA/Data/sales_data_50rows.csv'

In [7]:
df = pd.read_csv(r'C:/Users/Prafull Wahatule/Desktop/Python_DA/Data/sales_data_50rows.csv')

In [8]:
df

          Date    Product  Quantity  Price  Total Region
0   2025-12-09     Grapes        14    394   5516   West
1   2025-12-08      Mango         9    376   3384  South
2   2025-12-07     Orange        26     58   1508   East
3   2025-12-06      Mango         2    393    786  North
4   2025-12-05      Mango        20    178   3560  North
5   2025-12-04     Banana        28    185   5180  South
6   2025-12-03     Orange        47    112   5264  North
7   2025-12-02     Orange         7    188   1316   East
8   2025-12-01     Orange        44    130   5720  South
9   2025-11-30      Mango         8    441   3528   East
10  2025-11-29     Grapes        47    212   9964  South
11  2025-11-28     Orange        35    468  16380  South
12  2025-11-27  Pineapple        14    338   4732   West
13  2025-11-26      Mango        17    428   7276   East
14  2025-11-25     Banana        36    310  11160  North
15  2025-11-24     Grapes        40    280  11200  North
16  2025-11-23  Pineapple         4     90    360   East
17  2025-11-22  Pineapple         2     77    154  North
18  2025-11-21     Banana         6    184   1104  North
19  2025-11-20     Grapes        42    250  10500   East
20  2025-11-19      Mango         4    377   1508  South
21  2025-11-18      Apple        29    317   9193   East
22  2025-11-17     Grapes        18    467   8406  South
23  2025-11-16     Banana        26     82   2132  North
24  2025-11-15  Pineapple        44     97   4268  North
25  2025-11-14      Mango        34    456  15504  North
26  2025-11-13     Grapes        10    111   1110   West
27  2025-11-12      Apple        36    265   9540  South
28  2025-11-11      Apple        14    342   4788   West
29  2025-11-10     Orange        31    148   4588   West
30  2025-11-09     Orange        48    221  10608   East
31  2025-11-08     Banana        15    409   6135   West
32  2025-11-07     Grapes         8    263   2104   East
33  2025-11-06     Grapes        14     84   1176   East
34  2025-11-05  Pineapple        23    498  11454   West
35  2025-11-04  Pineapple        40    276  11040  South
36  2025-11-03  Pineapple        21    150   3150  South
37  2025-11-02     Orange        16    480   7680  South
38  2025-11-01     Grapes        45    180   8100  South
39  2025-10-31     Grapes        18    306   5508  South
40  2025-10-30      Apple        47     54   2538   West
41  2025-10-29     Orange        24    267   6408   West
42  2025-10-28      Mango        26    304   7904  North
43  2025-10-27     Orange        25    447  11175  South
44  2025-10-26      Mango        45    408  18360   West
45  2025-10-25      Apple        41    332  13612  North
46  2025-10-24     Banana        29    442  12818  South
47  2025-10-23     Grapes        15    256   3840   East
48  2025-10-22      Apple        45     64   2880  North
49  2025-10-21     Grapes         1    395    395   West

#### Q1. What percentage of the order total does each product represent?

In [12]:
totalamount = df.groupby("Product")["Total"].sum().rename("Total Amount").reset_index()

In [13]:
totalamount

     Product  Total Amount
0      Apple         42551
1     Banana         38529
2     Grapes         67819
3      Mango         61810
4     Orange         70647
5  Pineapple         35158

In [14]:
df_merge = df.merge(totalamount)
df_merge

          Date    Product  Quantity  Price  Total Region  Total Amount
0   2025-12-09     Grapes        14    394   5516   West         67819
1   2025-12-08      Mango         9    376   3384  South         61810
2   2025-12-07     Orange        26     58   1508   East         70647
3   2025-12-06      Mango         2    393    786  North         61810
4   2025-12-05      Mango        20    178   3560  North         61810
5   2025-12-04     Banana        28    185   5180  South         38529
6   2025-12-03     Orange        47    112   5264  North         70647
7   2025-12-02     Orange         7    188   1316   East         70647
8   2025-12-01     Orange        44    130   5720  South         70647
9   2025-11-30      Mango         8    441   3528   East         61810
10  2025-11-29     Grapes        47    212   9964  South         67819
11  2025-11-28     Orange        35    468  16380  South         70647
12  2025-11-27  Pineapple        14    338   4732   West         35158
13  2025-11-26      Mango        17    428   7276   East         61810
14  2025-11-25     Banana        36    310  11160  North         38529
15  2025-11-24     Grapes        40    280  11200  North         67819
16  2025-11-23  Pineapple         4     90    360   East         35158
17  2025-11-22  Pineapple         2     77    154  North         35158
18  2025-11-21     Banana         6    184   1104  North         38529
19  2025-11-20     Grapes        42    250  10500   East         67819
20  2025-11-19      Mango         4    377   1508  South         61810
21  2025-11-18      Apple        29    317   9193   East         42551
22  2025-11-17     Grapes        18    467   8406  South         67819
23  2025-11-16     Banana        26     82   2132  North         38529
24  2025-11-15  Pineapple        44     97   4268  North         35158
25  2025-11-14      Mango        34    456  15504  North         61810
26  2025-11-13     Grapes        10    111   1110   West         67819
27  2025-11-12      Apple        36    265   9540  South         42551
28  2025-11-11      Apple        14    342   4788   West         42551
29  2025-11-10     Orange        31    148   4588   West         70647
30  2025-11-09     Orange        48    221  10608   East         70647
31  2025-11-08     Banana        15    409   6135   West         38529
32  2025-11-07     Grapes         8    263   2104   East         67819
33  2025-11-06     Grapes        14     84   1176   East         67819
34  2025-11-05  Pineapple        23    498  11454   West         35158
35  2025-11-04  Pineapple        40    276  11040  South         35158
36  2025-11-03  Pineapple        21    150   3150  South         35158
37  2025-11-02     Orange        16    480   7680  South         70647
38  2025-11-01     Grapes        45    180   8100  South         67819
39  2025-10-31     Grapes        18    306   5508  South         67819
40  2025-10-30      Apple        47     54   2538   West         42551
41  2025-10-29     Orange        24    267   6408   West         70647
42  2025-10-28      Mango        26    304   7904  North         61810
43  2025-10-27     Orange        25    447  11175  South         70647
44  2025-10-26      Mango        45    408  18360   West         61810
45  2025-10-25      Apple        41    332  13612  North         42551
46  2025-10-24     Banana        29    442  12818  South         38529
47  2025-10-23     Grapes        15    256   3840   East         67819
48  2025-10-22      Apple        45     64   2880  North         42551
49  2025-10-21     Grapes         1    395    395   West         67819

In [16]:
df_merge["% of Order By Product"] = df_merge["Total"] / df_merge["Total Amount"]

In [17]:
df_merge

,Date,Product,Quantity,Price,Total,Region,Total Amount,% of Order By Product
0,2025-12-09,Grapes,14,394,5516,West,67819,0.081334
1,2025-12-08,Mango,9,376,3384,South,61810,0.054748
2,2025-12-07,Orange,26,58,1508,East,70647,0.021346
3,2025-12-06,Mango,2,393,786,North,61810,0.012716
4,2025-12-05,Mango,20,178,3560,North,61810,0.057596
5,2025-12-04,Banana,28,185,5180,South,38529,0.134444
6,2025-12-03,Orange,47,112,5264,North,70647,0.074511
7,2025-12-02,Orange,7,188,1316,East,70647,0.018628
8,2025-12-01,Orange,44,130,5720,South,70647,0.080966
9,2025-11-30,Mango,8,441,3528,East,61810,0.057078
10,2025-11-29,Grapes,47,212,9964,South,67819,0.146920
11,2025-11-28,Orange,35,468,16380,South,70647,0.231857
12,2025-11-27,Pineapple,14,338,4732,West,35158,0.134592
13,2025-11-26,Mango,17,428,7276,East,61810,0.117716
14,2025-11-25,Banana,36,310,11160,North,38529,0.289652
15,2025-11-24,Grapes,40,280,11200,North,67819,0.165145
16,2025-11-23,Pineapple,4,90,360,East,35158,0.010239
17,2025-11-22,Pineapple,2,77,154,North,35158,0.004380
18,2025-11-21,Banana,6,184,1104,North,38529,0.028654
19,2025-11-20,Grapes,42,250,10500,East,67819,0.154824
20,2025-11-19,Mango,4,377,1508,South,61810,0.024397
21,2025-11-18,Apple,29,317,9193,East,42551,0.216047
22,2025-11-17,Grapes,18,467,8406,South,67819,0.123948
23,2025-11-16,Banana,26,82,2132,North,38529,0.055335
24,2025-11-15,Pineapple,44,97,4268,North,35158,0.121395
25,2025-11-14,Mango,34,456,15504,North,61810,0.250833
26,2025-11-13,Grapes,10,111,1110,West,67819,0.016367
27,2025-11-12,Apple,36,265,9540,South,42551,0.224202
28,2025-11-11,Apple,14,342,4788,West,42551,0.112524
29,2025-11-10,Orange,31,148,4588,West,70647,0.064943
30,2025-11-09,Orange,48,221,10608,East,70647,0.150155
31,2025-11-08,Banana,15,409,6135,West,38529,0.159231
32,2025-11-07,Grapes,8,263,2104,East,67819,0.031024
33,2025-11-06,Grapes,14,84,1176,East,67819,0.017340
34,2025-11-05,Pineapple,23,498,11454,West,35158,0.325786
35,2025-11-04,Pineapple,40,276,11040,South,35158,0.314011
36,2025-11-03,Pineapple,21,150,3150,South,35158,0.089596
37,2025-11-02,Orange,16,480,7680,South,70647,0.108709
38,2025-11-01,Grapes,45,180,8100,South,67819,0.119436
39,2025-10-31,Grapes,18,306,5508,South,67819,0.081216
40,2025-10-30,Apple,47,54,2538,West,42551,0.059646
41,2025-10-29,Orange,24,267,6408,West,70647,0.090704
42,2025-10-28,Mango,26,304,7904,North,61810,0.127876
43,2025-10-27,Orange,25,447,11175,South,70647,0.158181
44,2025-10-26,Mango,45,408,18360,West,61810,0.297039
45,2025-10-25,Apple,41,332,13612,North,42551,0.319898
46,2025-10-24,Banana,29,442,12818,South,38529,0.332684
47,2025-10-23,Grapes,15,256,3840,East,67819,0.056621
48,2025-10-22,Apple,45,64,2880,North,42551,0.067683
49,2025-10-21,Grapes,1,395,395,West,67819,0.005824

In [18]:
df

          Date    Product  Quantity  Price  Total Region
0   2025-12-09     Grapes        14    394   5516   West
1   2025-12-08      Mango         9    376   3384  South
2   2025-12-07     Orange        26     58   1508   East
3   2025-12-06      Mango         2    393    786  North
4   2025-12-05      Mango        20    178   3560  North
5   2025-12-04     Banana        28    185   5180  South
6   2025-12-03     Orange        47    112   5264  North
7   2025-12-02     Orange         7    188   1316   East
8   2025-12-01     Orange        44    130   5720  South
9   2025-11-30      Mango         8    441   3528   East
10  2025-11-29     Grapes        47    212   9964  South
11  2025-11-28     Orange        35    468  16380  South
12  2025-11-27  Pineapple        14    338   4732   West
13  2025-11-26      Mango        17    428   7276   East
14  2025-11-25     Banana        36    310  11160  North
15  2025-11-24     Grapes        40    280  11200  North
16  2025-11-23  Pineapple         4     90    360   East
17  2025-11-22  Pineapple         2     77    154  North
18  2025-11-21     Banana         6    184   1104  North
19  2025-11-20     Grapes        42    250  10500   East
20  2025-11-19      Mango         4    377   1508  South
21  2025-11-18      Apple        29    317   9193   East
22  2025-11-17     Grapes        18    467   8406  South
23  2025-11-16     Banana        26     82   2132  North
24  2025-11-15  Pineapple        44     97   4268  North
25  2025-11-14      Mango        34    456  15504  North
26  2025-11-13     Grapes        10    111   1110   West
27  2025-11-12      Apple        36    265   9540  South
28  2025-11-11      Apple        14    342   4788   West
29  2025-11-10     Orange        31    148   4588   West
30  2025-11-09     Orange        48    221  10608   East
31  2025-11-08     Banana        15    409   6135   West
32  2025-11-07     Grapes         8    263   2104   East
33  2025-11-06     Grapes        14     84   1176   East
34  2025-11-05  Pineapple        23    498  11454   West
35  2025-11-04  Pineapple        40    276  11040  South
36  2025-11-03  Pineapple        21    150   3150  South
37  2025-11-02     Orange        16    480   7680  South
38  2025-11-01     Grapes        45    180   8100  South
39  2025-10-31     Grapes        18    306   5508  South
40  2025-10-30      Apple        47     54   2538   West
41  2025-10-29     Orange        24    267   6408   West
42  2025-10-28      Mango        26    304   7904  North
43  2025-10-27     Orange        25    447  11175  South
44  2025-10-26      Mango        45    408  18360   West
45  2025-10-25      Apple        41    332  13612  North
46  2025-10-24     Banana        29    442  12818  South
47  2025-10-23     Grapes        15    256   3840   East
48  2025-10-22      Apple        45     64   2880  North
49  2025-10-21     Grapes         1    395    395   West

In [19]:
df.describe()

        Quantity       Price         Total
count  50.000000   50.000000     50.000000
mean   24.800000  271.800000   6330.280000
std    14.730227  135.369035   4596.410969
min     1.000000   54.000000    154.000000
25%    14.000000  157.000000   2623.500000
50%    24.500000  271.500000   5386.000000
75%    39.000000  393.750000   9858.000000
max    48.000000  498.000000  18360.000000

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      50 non-null     object
 1   Product   50 non-null     object
 2   Quantity  50 non-null     int64
 3   Price     50 non-null     int64
 4   Total     50 non-null     int64
 5   Region    50 non-null     object
dtypes: int64(3), object(3)
memory usage: 2.5+ KB

In [22]:
df["Order Total"] = df.groupby("Product")["Total"].transform("sum")

In [23]:
df

          Date    Product  Quantity  Price  Total Region  Order Total
0   2025-12-09     Grapes        14    394   5516   West        67819
1   2025-12-08      Mango         9    376   3384  South        61810
2   2025-12-07     Orange        26     58   1508   East        70647
3   2025-12-06      Mango         2    393    786  North        61810
4   2025-12-05      Mango        20    178   3560  North        61810
5   2025-12-04     Banana        28    185   5180  South        38529
6   2025-12-03     Orange        47    112   5264  North        70647
7   2025-12-02     Orange         7    188   1316   East        70647
8   2025-12-01     Orange        44    130   5720  South        70647
9   2025-11-30      Mango         8    441   3528   East        61810
10  2025-11-29     Grapes        47    212   9964  South        67819
11  2025-11-28     Orange        35    468  16380  South        70647
12  2025-11-27  Pineapple        14    338   4732   West        35158
13  2025-11-26      Mango        17    428   7276   East        61810
14  2025-11-25     Banana        36    310  11160  North        38529
15  2025-11-24     Grapes        40    280  11200  North        67819
16  2025-11-23  Pineapple         4     90    360   East        35158
17  2025-11-22  Pineapple         2     77    154  North        35158
18  2025-11-21     Banana         6    184   1104  North        38529
19  2025-11-20     Grapes        42    250  10500   East        67819
20  2025-11-19      Mango         4    377   1508  South        61810
21  2025-11-18      Apple        29    317   9193   East        42551
22  2025-11-17     Grapes        18    467   8406  South        67819
23  2025-11-16     Banana        26     82   2132  North        38529
24  2025-11-15  Pineapple        44     97   4268  North        35158
25  2025-11-14      Mango        34    456  15504  North        61810
26  2025-11-13     Grapes        10    111   1110   West        67819
27  2025-11-12      Apple        36    265   9540  South        42551
28  2025-11-11      Apple        14    342   4788   West        42551
29  2025-11-10     Orange        31    148   4588   West        70647
30  2025-11-09     Orange        48    221  10608   East        70647
31  2025-11-08     Banana        15    409   6135   West        38529
32  2025-11-07     Grapes         8    263   2104   East        67819
33  2025-11-06     Grapes        14     84   1176   East        67819
34  2025-11-05  Pineapple        23    498  11454   West        35158
35  2025-11-04  Pineapple        40    276  11040  South        35158
36  2025-11-03  Pineapple        21    150   3150  South        35158
37  2025-11-02     Orange        16    480   7680  South        70647
38  2025-11-01     Grapes        45    180   8100  South        67819
39  2025-10-31     Grapes        18    306   5508  South        67819
40  2025-10-30      Apple        47     54   2538   West        42551
41  2025-10-29     Orange        24    267   6408   West        70647
42  2025-10-28      Mango        26    304   7904  North        61810
43  2025-10-27     Orange        25    447  11175  South        70647
44  2025-10-26      Mango        45    408  18360   West        61810
45  2025-10-25      Apple        41    332  13612  North        42551
46  2025-10-24     Banana        29    442  12818  South        38529
47  2025-10-23     Grapes        15    256   3840   East        67819
48  2025-10-22      Apple        45     64   2880  North        42551
49  2025-10-21     Grapes         1    395    395   West        67819