# Window Functions

In [1]:
import pandas as pd
import numpy as np

In [2]:
price = np.random.randn(10,1)
days = pd.date_range('1/1/2025', periods = 10)

In [4]:
df = pd.DataFrame(price, index = days, columns = ['StockPrice'])
df

            StockPrice
2025-01-01    0.098402
2025-01-02    0.607516
2025-01-03    0.441385
2025-01-04   -0.101387
2025-01-05    1.578198
2025-01-06    0.581693
2025-01-07    0.132800
2025-01-08    0.395659
2025-01-09    0.781731
2025-01-10    1.524703

In [10]:
df["Prev_Price"] = df["StockPrice"].shift(1)
df

            StockPrice  Prev_Price
2025-01-01    0.098402         NaN
2025-01-02    0.607516    0.098402
2025-01-03    0.441385    0.607516
2025-01-04   -0.101387    0.441385
2025-01-05    1.578198   -0.101387
2025-01-06    0.581693    1.578198
2025-01-07    0.132800    0.581693
2025-01-08    0.395659    0.132800
2025-01-09    0.781731    0.395659
2025-01-10    1.524703    0.781731

In [11]:
df["Daily_Return"] = df["StockPrice"] / df["Prev_Price"]
df

            StockPrice  Prev_Price  Daily_Return
2025-01-01    0.098402         NaN           NaN
2025-01-02    0.607516    0.098402      6.173806
2025-01-03    0.441385    0.607516      0.726540
2025-01-04   -0.101387    0.441385     -0.229702
2025-01-05    1.578198   -0.101387    -15.566078
2025-01-06    0.581693    1.578198      0.368580
2025-01-07    0.132800    0.581693      0.228299
2025-01-08    0.395659    0.132800      2.979371
2025-01-09    0.781731    0.395659      1.975766
2025-01-10    1.524703    0.781731      1.950420

In [13]:
df["Expand_Mean"] = df["Daily_Return"].expanding().mean()
df

            StockPrice  Prev_Price  Daily_Return  Expand_Mean
2025-01-01    0.098402         NaN           NaN          NaN
2025-01-02    0.607516    0.098402      6.173806     6.173806
2025-01-03    0.441385    0.607516      0.726540     3.450173
2025-01-04   -0.101387    0.441385     -0.229702     2.223548
2025-01-05    1.578198   -0.101387    -15.566078    -2.223858
2025-01-06    0.581693    1.578198      0.368580    -1.705371
2025-01-07    0.132800    0.581693      0.228299    -1.383092
2025-01-08    0.395659    0.132800      2.979371    -0.759883
2025-01-09    0.781731    0.395659      1.975766    -0.417927
2025-01-10    1.524703    0.781731      1.950420    -0.154777

In [16]:
df["Roll_Mean_3"] = df["Daily_Return"].rolling(3).mean()
df

            StockPrice  Prev_Price  Daily_Return  Expand_Mean  Roll_Mean_3
2025-01-01    0.098402         NaN           NaN          NaN          NaN
2025-01-02    0.607516    0.098402      6.173806     6.173806          NaN
2025-01-03    0.441385    0.607516      0.726540     3.450173          NaN
2025-01-04   -0.101387    0.441385     -0.229702     2.223548     2.223548
2025-01-05    1.578198   -0.101387    -15.566078    -2.223858    -5.023080
2025-01-06    0.581693    1.578198      0.368580    -1.705371    -5.142400
2025-01-07    0.132800    0.581693      0.228299    -1.383092    -4.989733
2025-01-08    0.395659    0.132800      2.979371    -0.759883     1.192083
2025-01-09    0.781731    0.395659      1.975766    -0.417927     1.727812
2025-01-10    1.524703    0.781731      1.950420    -0.154777     2.301852